@import 'variables';
@import 'icons';

body {
  overflow-x: hidden;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'museo-slab', serif;
}

ul {
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  list-style-type: none;
}

img {
  padding: 0;
  margin: 0;
  margin-right: -4px;
}

a {
  text-decoration: none;
  color: $charcoal;
}

a:hover {
  color: $ash;
}

address {
  text-decoration: none;
  font-style: normal;
  color: $charcoal;
  text-align: left;
}

input[type="search"] {
  padding: .5rem;
  line-height: 1.2rem;
  border: 1px solid #747474;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}

.hero {
  width: 100%;
  margin: 0;
  padding: 3.9rem 0;
  text-align: center;
  color: $blue;
  background: white;
  position: relative;
  h1 {
    font-size: 3.2rem;
    text-align: center;

    @media (min-width: 50em) {
      font-size: 4.2rem;
    }
  }
  p, li {
    font-size: 2rem;
  }
  p, li {
    line-height: 2.6rem;
  }
  #search {
    width: 33%;
    font-size: 2rem;
    line-height: 2.6rem;
  }
  .responses {
    padding-bottom: 2rem;
  }
}

.content {
  max-width: 50rem;
  margin: 0 auto;
}

.blue {
  background: $blue;
  color: white;
}

.header-background {
  position: absolute;
  top: 0;
  margin-top: -30px;
  opacity: 0.09;
  overflow-x: hidden;
  white-space: nowrap;
  z-index: 0;
}

.scroll-to {
  width: 20%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: white;
  box-shadow: 0px 0px 10px #aac;
  border: none;
  cursor: pointer;
  z-index: 100;
  font-size: 3rem;
  position: absolute;
  bottom: -1rem;
  left: 40%;
  color: $ash;
}
.scroll-to:focus {
  outline: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-between;
}

#olli-email {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  color: $blue;
}

#olli-email:hover {
  color: $charcoal;
}
