$blue: #77b4ff;
$orange: #f79d58;
$ash: #747474;
$charcoal: #333;

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
@import url(http://fonts.googleapis.com/css?family=Merriweather);

body {
  font-family:  'Merriweather', 'Helvetica Neue', Helvetica, Times, serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

ul {
  padding: 0;
  margin: 0;
  text-align: left;  
}

li {
  list-style-type: none;
}

img {
  padding: 0;
  margin: 0;
  margin-right: -4px;
}

a {
  text-decoration: none;
  color: $charcoal;
}

a:hover {
  color: $ash; 
}

address {
  text-decoration: none;
  font-style: normal;
  color: $charcoal;
}

input[type="text"] {
  padding: .5rem;
  line-height: 1.2rem;
  border-radius: 4px;
  border: 1px solid #747474;
}

.hero {
  width: 100%;
  margin: 0;
  padding: 5rem 0;
  text-align: center;
  color: $blue; 
  background: white;
  .content {
    padding-left: 25%;
    padding-right: 25%;
  }
  h1 {
    font-size: 6rem;
    padding: 0;
    margin: 0;
  }
  h2 {
    font-size: 3rem; 
    font-weight: 300;
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
  }
  p, li {
    font-size: 2rem;
  }
  li {
    line-height: 2.6rem;  
  }
  #search {
    width: 33%;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .responses {
    padding-bottom: 2rem; 
  }
}

.blue {
  background: $blue;
  color: white;
}

.header-background {
  position: absolute;
  top: 0;
  opacity: 0.09;
  overflow-x: hidden;
  white-space: nowrap;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-between;
}