// bower:scss
// endbower

$color_black_white: #FFFFFD;
$color_ironside_gray: #6C6B6A;
$color_gulf_stream: #70AFAF;

html {
  font-size: 17px;
  line-height: 1.7rem;
}

body {
  background: $color_black_white;
  color: darken($color_ironside_gray, 20%);
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  padding: 1rem;
}

a {
  color: $color_faded_jade;
}

h1, h2, h3, h4, h5, h6 {
  color: $color_gulf_stream;
  font-family: "museo-slab", serif;
  
  small {
    color: lighten($color_ironside_gray, 25%);
  }
}

li, p {
  max-width: 45rem;
}