// bower:scss
// endbower

$color_black_white: #FFFFFD;
$color_ironside_gray: #6C6B6A;
$color_malibu: #77b4ff;

::selection {
  background: $color_malibu;
  color: white;
}

::-moz-selection {
  background: $color_malibu;
  color: white;
}

body {
  background: $color_black_white;
  color: darken($color_ironside_gray, 20%);
}

header {
  background: $color_malibu;

  h1 {
    color: white;
    font-size: 3rem;
    line-height: 3.1rem;
    margin: 0;
    padding: 2rem 2rem;

    @media (min-width: 50em) {
      font-size: 4rem;
      line-height: 4.2rem;
      max-width: 60rem;
    }
  }
}

main {
  padding: 1rem;
  max-width: 65rem;
}

a {
  color: $color_malibu;
}

h1, h2, h3, h4, h5, h6 {
  color: $color_ironside_gray;
  font-family: "museo-slab", serif;

  small {
    color: lighten($color_ironside_gray, 25%);
  }
}

li, p {
  max-width: 45rem;
}

.columns {
  display: flex;
  @media (max-width: 599px) {
    flex-wrap: wrap;
  }
}

.cell {
  flex-basis: 100%;
  padding: 0 1rem;

  @media (min-width: 600px) {
    flex-grow: 1;
    flex-basis: 50%;
  }
}

@media (max-width: 599px) {
  .cell:nth-of-type(1) {
    order: 2;
  }
  .cell:nth-of-type(2) {
    order: 1;
  }
}

.hack-questions {
  margin-top: 0;

  @media (min-width: 600px) {
    margin-top: 3.2rem;
  }
}
