//
// AUBURN COLORS
//

$thisisblue: #496e9c;
$thisisorange: #f68026;
$thisisbluer: #03244d;
$thisisoranger: #dd550c;

//
// OUR COLORS
//

$thisisgray: #f4f4f4;
$thisisgrayer: #d7d7d7;

$charcoal: #333;

//
// FONT FAMILIES
//

$headings-font-family: "museo-slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
