<section class="col-md-4">
  <ul>
    <li>Linda Shook (Director)</li>
    <li><a href="tel:3348443105">(334) 844-3105</a></li>
    <li>301 OD Smith Hall</li>
    <li>Auburn University, AL 36849-5680</li>
  </ul>
</section>
<section class="col-md-4">
  <a href="mailto:olli@auburn.edu">olli@auburn.edu</a>
</section>
<section class="col-md-4">
  <ul>
    <li>Barbara Daron (Coordinator)</li>
    <li><a href="tel:3348443102">(334) 844-3102</a></li>
    <li>301 OD Smith Hall</li>
    <li>Auburn University, AL 36849-5680</li>
  </ul>
</section>
