<a class="header-logo" href="http://auburn.edu/">
  <img src="//cdn.auburn.edu/assets/img/header-logo.png" alt="Auburn University Homepage" height="75" width="203">
</a>
<div class="header-right flex">
  <div class="header-title"><a href="http://olliatauburn.org/">OLLI at Auburn</a></div>
  <div class="header-navbar">
    <ul>
      <li><a href="/join.html">Join</a></li>
      <li><a href="/courses.html">Courses</a></li>
      <li><a href="#">Newsletter</a></li>
      <li><a href="#">Calendar</a></li>
      <li><a href="/about.html">About Us</a>
      <li><a href="/contact.html">Contact Us</a></li>
    </ul>
  </div>
</div>
