<!-- build:css(.tmp) styles/contact.css -->
<link rel="stylesheet" href="styles/contact.css">
<!-- endbuild -->

<div class="row">
    <div class="col-md-12">
        <h2>Contact Us</h2>
        <div class="col-md-12"><em>For more information about OLLI contact:</em></div>
        <ul class="col-md-6">
            <strong>Linda Shook</strong></br>
            OLLI at Auburn Director, University Outreach</br>
            301 OD Smith Hall</br>
            Auburn University, AL 36849-5680</br>
            Phone: <a href="tel:3348443105">(334) 844-3105</a></br>
            Fax: <a href="tel:3348443101">(334) 844-3101</a></br>
            Email: <a href="mailto:linda.shook@auburn.edu">linda.shook@auburn.edu</a></br>
        </ul>
        <ul class="col-md-6">
            <strong>Barbara Daron</strong></br>
            OLLI at Auburn Coordinator, University Outreach</br>
            301 OD Smith Hall</br>
            Auburn University, AL 36849-5680</br>
            Phone: <a href="tel:3348443102">(334) 844-3102</a></br>
            Fax: <a href="tel:3348443101">(334) 844-3101</a></br>
            Email: <a href="mailto:barbara.daron@auburn.edu">barbara.daron@auburn.edu</a></br>
        </ul>
        <div class="col-md-12"><em>Or send an email to <a href="mailto:olli@auburn.edu">olli@auburn.edu</a></em></div>
    </div>
</div>