<!-- build:css(.tmp) styles/contact.css -->
<link rel="stylesheet" href="styles/contact.css">
<!-- endbuild -->

<div class="row">
    <div class="col-md-12">
        <h2>Contact Us</h2>
        <ul class="col-md-6">
            <div id="contact-info">
                <li>Linda Shook (Director)</li>
                <li><a href="tel:3348443105">(334) 844-3105</a></li>
                <li>301 OD Smith Hall</li>
                <li>Auburn University, AL 36849-5680</li>
            </div>
        </ul>
        <ul class="col-md-6">
            <div id="contact-info">
                <li>Barbara Daron (Coordinator)</li>
                <li><a href="tel:3348443102">(334) 844-3102</a></li>
                <li>301 OD Smith Hall</li>
                <li>Auburn University, AL 36849-5680</li>
            </div>
        </ul>
    </div>
</div>