<link rel=stylesheet href="../styles/courses.css">

<div class="row banner">
  <a class="courses-resource-badge col-md-3" href="http://olliatauburn.org/coursematerials.htm">
    <!--<i class="icon-book"></i>-->
    Course materials
  </a>
  <a class="courses-resource-badge col-md-3" href="https://auburn.qualtrics.com/SE/?SID=SV_8bPoCLNnfT6ZJvD">
    <!-- <i class="icon-plus"></i> -->
    Course proposal form
  </a>
  <a class="courses-resource-badge col-md-3" href="https://auburn.qualtrics.com/SE/?SID=SV_7Nx3c6asMFM1igR">
    <!-- <i class="icon-bubble"></i> -->
    Brown-bag presentation form
  </a>
</div>
